@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
    --bgColor: #fff;
    --CTAPrimary: #2563EB;
    --CTASecondary: #FF5A36;
    --primaryTextColor: #0F172A;
    --secondaryTextColor: #475569;
}
body {
    margin: 0;
    padding: 0;
    height: auto;
}
colored {
    color: var(--CTAPrimary);
}
.navbar {
    border-bottom: 1px solid #E2E8F0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 0;
    font-family: 'Outfit';
}
.header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 90px;
}
.header p {
    margin: 10px;
}
.header p:first-of-type {
    font-weight: 900;
    font-size: 38px;
    color: var(--primaryTextColor);
}
.header p:last-of-type {
    border: 1px solid #FFF7ED;
    border-radius: 7.5px;
    background: #ffebd0;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 12px;
    color: var(--CTASecondary);
}
.school {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.school p {
    padding: 0;
    margin: 2.5px;
    font-size: 20px;
}
.school p:first-of-type {
    color: var(--CTAPrimary);
    font-weight: 600;
}
.school p:last-of-type {
    color: var(--primaryTextColor);
    font-weight: 600;

}
.clock {    
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 90px;
    color: var(--primaryTextColor);
    font-size: 38px;
}
.clock p {
    margin: 0;
    padding: 0;
}
.aboutus {
    margin: 100px;
    display: flex;
    align-items: center;
    font-family: 'Outfit';
}
.aboutus p {
    margin: 0;
    padding: 0;
}
.hero-wrapper {
    flex: 1;
}
.hero-wrapper div {
    margin-top: 30px;
}
.hero {
    font-size: 64px;
    font-weight: 800;
}
.hero p {
    margin-bottom: 10px;
}
.description {
    color: var(--secondaryTextColor);
    font-size: 24px;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: start;
}
.card {
    background: #F1F5F9;
    width: auto;
    height: auto;
    margin-right: 15px;
    padding: 20px 30px;
    border-radius: 10px;
}
.first p:first-of-type {
    color: var(--CTAPrimary);
    font-size: 34px;
    font-weight: 800;
}
.first p:last-of-type {
    color: var(--secondaryTextColor);
}
.second p:first-of-type {
    color: #10B981;
    font-size: 34px;
    font-weight: 800;
}
.second p:last-of-type {
    color: var(--secondaryTextColor);
}
.aboutus-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}